{% extends "views/base.html.njk" %}

{% block title %}Quick Game{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Hotseat Game</h1>
	</div>

	<div class="row">
		{# The status column is first even though it is on the right side so that it is on top on small screens #}
		<div class="col-md-5 col-md-push-7">
			<div class="panel panel-default">
				<div class="panel-heading">Hotseat Game</div>
				<div class="panel-body">
					Current turn: <strong id="current_turn"></strong>
					<hr>
					<strong><em>Messages:</em></strong>
					<div class="game-messages" id="messages"></div>
					<div class="input-group">
						<input id="message" class="form-control" type="text" placeholder="Enter Message">
						<span class="input-group-btn">
							<button id="send" class="btn btn-default">Send</button>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-7 col-md-pull-5">
			<div class="board-container">
				<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1000 1000" id="board"></svg>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="/js/boardDrawer.js"></script>
	<script>
		var $board, $messages, $message, $currentTurn, $send, $x, $y;

		var currentTurn = 1;

		function addMessage(message) {
			var $message;
			if (message.by === null) {
				$message = $('<div>').append($('<em class="text-danger">').text(message.msg));
			} else {
				$message = $('<div>').append($('<strong>').text(message.by + ': ')).append($('<span>').text(message.msg));
			}

			$messages.append($message);
			$messages.scrollTop($messages.prop('scrollHeight')); // Scroll to bottom of list
		}

		function changeTurn(turn) {
			if (turn === 1) {
				$currentTurn.text('Black');
				currentTurn = turn;
			} else if (turn === 2) {
				$currentTurn.text('White');
				currentTurn = turn;
			} else {
				$currentTurn.text('Something\'s fucky');
			}
		}

		$(document).ready(function() {
			// Set up globals
			$board = $('#board');
			$messages = $('#messages');
			$message = $('#message');
			$currentTurn = $('#current_turn');
			$send = $('#send');
			$x = $('#x');
			$y = $('#y');

			var gameSocket = new WebSocket('ws://' + window.location.host + '{{ routes.joinHotseatGame|replace(':id', gameId|urlencode) }}');

			gameSocket.onmessage = function (event) {
				var message = JSON.parse(event.data);

				if (message.message) {
					addMessage(message.message);
				}

				if (message.error) {
					addMessage({by: null, msg: message.error});
				}

				if (message.nextTurn) {
					changeTurn(message.nextTurn);
				}

				if (message.board) {
					boardDrawer.drawBoard(message.board, $board, currentTurn);
				}
			};

			gameSocket.onclose = function (event) {
				if (event.reason) {
					addError('Connection closed by server: ' + event.reason);
				} else {
					addError('Lost connection to server.');
				}

				window.onbeforeunload = null;
			};

			// Handle token hover/click
			boardDrawer.registerEvents($board, function(x, y) {
				gameSocket.send(JSON.stringify({move: {x: parseInt(x), y: parseInt(y)}, color: currentTurn}));
			});

			// Handle sending messages
			$send.on('click', function() {
				gameSocket.send(JSON.stringify({message: $message.val()}));
				$message.val('');
			});

			// Send on enter
			$message.keyup(function(event){
				if (event.keyCode === 13){
					$send.click();
				}
			});

			// Warn user when navigating away that they will leave the lobby
			window.onbeforeunload = function() {
				// Newest chrome doesn't allow for custom string, but we'll leave it here for other browsers
				return "Navigating away from this page will remove you from the game. Are you sure you wish to continue?";
			};

			window.onunload = function() {
				gameSocket.close();
			};
		});
	</script>
{% endblock %}
