{% extends "views/base.html.njk" %}

{% block title %}Leaderboards{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>LeaderBoards</h1>
		<p class="lead">
			The leaderboards are based off of the skill calculated at the end of each game using the Elo ranking system.
		</p>
	</div>
	<div class="row">
		<div class="col-lg-12">
		<table class="table table-bordered table-responsive">
			<thead>
				<tr>
					<th>Username</th>
					<th>Ranking</th>
					<th>Skill</th>
					<th>Wins</th>
					<th>Loses</th>
				</tr>

				{% for account in accounts %}
				<tr>
					<th> {{ account._username }} </th>
					<th> {{ loop.index }} </th>
					<th> {{ account._userSkillLevel }} </th>
					<th> {{ account._numWin }} </th>
					<th> {{ account._numLoss }} </th>
				</tr>
				{% endfor %}
			</thead>
		</table>
		</div>
	</div>


{% endblock %}
