{% extends "views/base.html.njk" %}

{% block title %}Rules{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Rules Of Go</h1>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<p style="font-size: 20px;">

				To start the size of the board for go can be any odd number between 9x9 to 21x21. To start the game,
				the use with the black tokens always go first followed by the user with the white tokens. You are
				only aloud to place the tokens on the line intersections on the board. Each adjacent unocuppied spots
				next to a token is a called a territory, if your tokens have boxed in a area of empty space. That
				space is also considered your territory.To capture your opponents tokens you must surround all
				available sides, for example if the piece is in a corner you only need play tokens
				on two sides to capture the token.
			</p>
				<div class="row" >
					<div class="col-lg-12">
						<img src="/images/capture_token.png" class="img-responsive" style="max-height:400px;">
					</div>
				</div>
			<p style="font-size: 20px;">
				To capture multiple adjacent tokens you must remove all the
				territory for those tokens to capture them. The Ko rule states that you can't place a token that would
				make the board revert to your last turn state.
			</p>
				<div class="row" >
					<div class="col-lg-12">
						<img src="/images/ko_rule.png" class="img-responsive" style="max-height:600px;">
					</div>
				</div>
			<p style="font-size: 20px;">
				The user is also not aloud to place a tkoen that
				results in a move that would kill the token instantly. Points are calculated by how many
				tokens that you
				own, along with how many tokens you have captured, and all the area that you have contained within your
				tokens. The user with the white tokens also gets a handicap of 6.5 points added to their score for
				going second. The user with more points win's the game.

			</p>


		</div>

	</div>

{% endblock %}
