.navbar-brand {
	font-size: 22px;
	font-weight: bold;
}

.name {
	color: #bf3d3d;
	font-weight: normal;
}

.navbar-brand:hover .name {
	color: #ff5858;
	font-weight: normal;
}

.lobby {
	font-size: 1.3em;
	background: #eeeeee;
}

@media (min-width: 768px) {
	.lobby {
		padding-top: 0;
		padding-bottom: 0;
		height: 50px;
		line-height: 50px;
	}
}

.lobby-name {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.lobby-top {
	max-height: 400px;
	overflow-y: auto;
	margin-bottom: 10px;
}

.lobby-top table {
	margin-bottom: 0;
}

.lobby-messages-header {
	margin-top: 15px;
	font-size: 1.8em;
	font-weight: 500;
	margin-bottom: 5px;
}

span.give-owner,
span.kick,
span.ban {
	display: none;
}

span.give-owner:hover {
	color: #337ab7;
	cursor: pointer;
}

span.kick:hover {
	color: #8a6d3b;
	cursor: pointer;
}

span.ban:hover {
	color: #a94442;
	cursor: pointer;
}

td:hover span.give-owner,
td:hover span.kick,
td:hover span.ban {
	display: inline;
}

@media (min-width: 768px) {
	.lobby-top {
		height: 400px;
	}

	.lobby-messages-header {
		display: none;
	}
}

.token {
	cursor: pointer;
}

.game-messages {
	margin-bottom: 10px;
	overflow-y: auto;
}

@media (max-width: 991px) {
	.game-messages {
		height: 100px;
	}
}

@media (min-width: 992px) {
	.game-messages {
		min-height: 100px;
		max-height: 300px;
	}
}

.board-container {
	border: 3px solid black;
	border-radius: 5px;
	background-color: #DBB15B;
	padding: 5px;
	margin-bottom: 10px;
}

.player-username {
	font-size: 1.3em;
	font-weight: bold;
}

.game-left-player {
	border-right: 1px solid #eee;
}

.not-turn:not(.in-modal) {
	opacity: 0.5;
}

.pass-container {
	width: 50%;
	margin-top: 10px;
}

#game_over_header {
	margin-top: 0;
	margin-bottom:20px;
}

.title {
	font-size:5em;
	padding-bottom: 40px;
}

#one,
#two,
#three,
#four {
	opacity: 0;
}
